/* CSS File */

/* Default styles */
img.logo {
    width: 150px;
    height: 130px;
  }
  
  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    img.logo {
      width: 90px;
      height: 70px; /* Adjust the height for smaller screens */
    }
  }
  
  /* Media query for screens between 601px and 1200px */
  @media (min-width: 601px) and (max-width: 1200px) {
    img.logo {
      width: 120px;
      height: 100px; /* Adjust the height for medium-sized screens */
    }
  }
  
  /* Add more media queries as needed for different screen sizes */
  